.git
.github
.cache
.pytest_cache
.tools
.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.log
*.log.*
.env
build
compiled_firmware
firmware_binaries
server/config.yaml
server/REAL_config.yaml
server/netatmo-token.json
server/data
server/views/calendar.png
server/views/html/calendar.html
